<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner</title>
    <link href="../public/css/scanner.css" rel="stylesheet">
</head>
<body>
    <div id="reader"></div>
    <!-- <div class="container">
        <div class="videoContainer">
            <button onclick="capture()">Snap</button>
            <video id="video" autoplay playsinline muted>
            </video>
        </div>
        <div class="imageBoss">
            <div id="imageContainer"></div>
        </div> 
    </div>-->
    <div id="camera" style="width: 100%;"></div>
    <h1 id="result"></h1>
    <button onclick="load_quagga()">Fuck me</button>
    <script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.min.js"></script>
    <script src="../public/js/scanner.js"></script>
</body>
</html>